name: demo

on: [push]

jobs:
  demo:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "25"
          cache: "npm"

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24.10"
          cache: true

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: stable

      - name: Install Node dependencies
        run: npm ci

      - name: Run demo
        working-directory: demo
        run: make restart-demo
